
* {
    margin: 0;
    padding: 0;

}

body {
    background: url('../images/mt-hood.jpg') no-repeat scroll 0 0 transparent;
    color: #fff;
    font-family:'Raleway', Arial, sans-serif;
    margin: 40px;

}

h1 {
    font-weight: bold;
    font-size: 40px;
    background-color: #fff;
    color: #f60;
    width: 20%;
    padding: 5px 0px 5px 50px;
    border-radius: 25px 0 25px 0;
    margin-bottom: 10px;
}

img { float: left;}

p {float: left; padding: 50px;}

.parallax-page {
    padding: 40px;

}
.parallax-page-container {
    border: 10px solid #fff;height:auto; width: auto;
    border-radius: 50px;
    height:500px;


}
button {
    border: none;
    padding: 10px 20px;
    font-family: 'Raleway';
    font-weight: bold;
    font-size: 30px;
    border: 5px solid #fff;
    border-radius: 25px;
    color: #fff;
    text-shadow: -2px 2px 0px #000, -1px 0px 0px #000;


}

#goto-about {
    background-color: #ff0;

}
#goto-contact {
    background-color: #f00;
}
#goto-services {
    background-color: #007;
}

#about {


}

#about .parallax-page-container 
{
    background-color: rgba(255,255,0,   0.7);

}

#index .parallax-page-container {
            background-color: rgba(0,177,0,0.7);
    
}
#contact .parallax-page-container {
    background-color: rgba(255,0,0,0.7);

}
#services .parallax-page-container   {
    background-color: rgba(0,0,177,0.7);

}